# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# Static site output
_site/*
_theme_packages/*

!.gitkeep

.rbenv-version
.rvmrc

*~
_assets/bootstrap/tests
node_modules/
